@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component) {
    @extend %page-content;
    @extend %container;

	.form-section{
	  padding: 20px;
	  border-bottom:1px solid $light-gray;
	
		.row { margin-bottom: 0; }

		.form-block{
	    padding: 10px 0;
	    display: inline-block;
	    width: 100%;

			p {
	      line-height: 1.2rem;
	      max-width: 350px;
			}
			
	    .radio-description{
	      max-width: 320px;
			}
			
	   	input.datepicker{
				margin-bottom:0;
				max-width: 200px;
	    }
		}
		
	  .form-block-title{
	    @include fontsize(18);
	    font-weight: $medium;
	    margin:0 0 5px 0;
	  }
	}

	.form-section-title{
	  @include fontsize(24);
	  font-weight: $medium;
	  padding:0 0 15px 0;
	  margin:0;
	}

	.input-img.card-img {
		width: 100%;
		height: 225px;

		border: none;
		border-radius: 3px;
		background-color: #f6f6f6;

		svg, span { margin: auto; }

		svg { margin-bottom: 10px; }

		span { margin-top: 0; }

		.img-preview {
			object-fit: cover;
			border:none;
		}
	}

	.list-class-type {
		[type="radio"] {
			display: none;
			opacity: 0;

			& + label {
				@include transition;
	
				width: 130px;
				height: 130px;
				float: left;
				padding: 0;
				
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
	
				-ms-flex-pack: space-around;
				justify-content: space-around;
	
				-webkit-flex-flow: column nowrap;
				-ms-flex-flow: column nowrap;
				flex-flow: column nowrap;
	
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;

				color: $background-color;
	
				cursor: pointer;
				border-radius: 3px;
				background-color: #f6f6f6;
				border: #f6f6f6 thin solid;
				
				&:not(:last-child) { margin-right: 10px; }
	
				&:hover { border-color: $affirmative-color; }
	
				&:before, &:after { display: none; }

				svg { fill: $background-color; }
			}

			&:checked + label {
				color: #fff;
				
				background-color: rgba(53, 78, 126, .87);
				border-color: $affirmative-color;
				
				svg { fill: #fff; }
			}
		}

		svg, span { margin: auto; }

		svg {
			width: 30px;
			height: 36px;
			margin-bottom: 10px;

			fill: $affirmative-color;
		}

		span { margin-top: 0; }
	}
}
