@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component){
  width: 185px;
  height: 240px;
  position: relative;
  display: inline-block;
  border:0;
  margin-right:5px;
  margin-bottom:5px;
  border:1px solid $light-gray;
  .card-image{
    width: 100%;
    object-fit: cover;
  }
  .card-status{
    color:#fff;
    position: absolute;
    display: block;
    margin:8px;
    padding:4px;
    top:0;
    left:0;
    right:0;
    text-align:center;
    text-transform:uppercase;
    font-weight:$medium;
    letter-spacing:0.5px;
    @include fontsize(14);
    &.comming-soon{
      background-color:transparentize(#ff0000, 0.5);
    }
    &.free-course{
      background-color:transparentize(#27921A , 0.2);

    }
    &.blocked{}
  }
  .card-description{
    position: absolute;
    bottom:0;
    display: block;
    margin:auto;
    text-align:center;
    width: 100%;
    background:rgba(0,0,0,0.8);
    padding:10px 5px;
  }
  .card-title{
    color:#fff;
    @include fontsize(14);
    line-height: 1rem;
    font-weight:$medium;
    letter-spacing:0.5px;
    margin-bottom: 4px;
    max-height: 30px;
    overflow:hidden;
  }
  .card-category{
    font-size:10px;
    color:#fff;
  }
}