:local(.component) {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3066d0;
  position: fixed;
  margin: auto;
  z-index: 30;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  animation: pulse 2s infinite 2s; }
  :local(.component):hover {
    transform: scale(1.1);
    animation: none; }
  :local(.component).saved {
    animation: none; }
  :local(.component) .icon {
    fill: #fff;
    width: 20px;
    height: 20px; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(48, 102, 208, 0.6); }
  70% {
    box-shadow: 0 0 0 10px rgba(48, 102, 208, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(48, 102, 208, 0); } }
