@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component){
	height: 56px;
	width: 56px;
	border-radius:50%;
	display: flex;
	justify-content:center;
	align-items:center;
	background: $affirmative-color;
	position: fixed;
	margin:auto;
	z-index: 30;
	right: 20px;
	bottom: 20px;
	cursor:pointer;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	@include transition;
	animation: pulse 2s infinite 2s;
	&:hover{
		transform:scale(1.1);
	  	animation: none;
	}
	&.saved{
	  	animation: none;
	}
	.icon{
		fill:#fff;
		width: 20px;
		height: 20px;
	}

	@keyframes pulse {
	  0% {
	    box-shadow: 0 0 0 0 transparentize($affirmative-color, 0.4),
	    0 2px 2px 0 rgba(0,0,0,0.14),
	    0 1px 5px 0 rgba(0,0,0,0.12),
	    0 3px 1px -2px rgba(0,0,0,0.2);
	  }
	  70% {
	    box-shadow: 0 0 0 10px transparentize($affirmative-color, 1),
	    0 2px 2px 0 rgba(0,0,0,0.14),
	    0 1px 5px 0 rgba(0,0,0,0.12),
	    0 3px 1px -2px rgba(0,0,0,0.2);
	  }
	  100% {
	    box-shadow: 0 0 0 0 transparentize($affirmative-color, 1),
	    0 2px 2px 0 rgba(0,0,0,0.14),
	    0 1px 5px 0 rgba(0,0,0,0.12),
	    0 3px 1px -2px rgba(0,0,0,0.2);
	  }
	}

}
