:local(.component).course-nav {
  transition: all 0.3s ease-in-out;
  width: 350px;
  color: #fff;
  position: fixed; }
  :local(.component).course-nav .modules-block {
    height: calc(100vh - 229px);
    overflow-y: auto;
    background-color: #172b4d; }
  :local(.component).course-nav .course-block {
    padding: 20px; }
  :local(.component).course-nav .toggle-nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    background-color: transparent;
    margin: auto;
    height: 100%;
    width: 40px;
    background-color: #172b4d;
    border-radius: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    justify-content: center; }
    :local(.component).course-nav .toggle-nav div {
      position: relative;
      display: block;
      width: 20px;
      height: 22px; }
    :local(.component).course-nav .toggle-nav span {
      margin: auto;
      width: 2px;
      height: 12px;
      display: block;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease-in-out; }
    :local(.component).course-nav .toggle-nav span:first-child {
      transform: rotate(35deg); }
    :local(.component).course-nav .toggle-nav span:last-child {
      transform: rotate(-35deg);
      top: 10px; }
    :local(.component).course-nav .toggle-nav:hover {
      background-color: #1a1a1a; }
  :local(.component).course-nav .course-data {
    position: relative;
    padding-right: 40px;
    background-color: #172b4d;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
  :local(.component).course-nav .course-actions {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #172b4d; }
    :local(.component).course-nav .course-actions .button {
      border-radius: 0;
      background-color: transparent;
      max-width: 50%;
      padding: 12px 20px;
      display: block;
      white-space: nowrap; }
      :local(.component).course-nav .course-actions .button span {
        color: #fff;
        font-weight: 300; }
      :local(.component).course-nav .course-actions .button .icon {
        fill: #fff;
        margin-right: 10px; }
      :local(.component).course-nav .course-actions .button:hover {
        background-color: #1a1a1a; }
  :local(.component).course-nav .course-title {
    font-size: 1.375rem;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out; }
  :local(.component).course-nav .course-category {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    display: block;
    color: #fff; }
  :local(.component).course-nav .course-progress label {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.75rem; }
  :local(.component).course-nav .progress-bar {
    width: 100%;
    height: 3px;
    display: block;
    margin: 8px 0;
    background-color: #fff; }
    :local(.component).course-nav .progress-bar span {
      background-color: #3066d0;
      display: block;
      height: 3px; }
  :local(.component).course-nav .card-lessons {
    margin: 0 0 5px 0; }
    :local(.component).course-nav .card-lessons .card-lesson-block {
      margin: 0;
      padding: 20px 40px 20px 20px;
      color: #fff;
      border-bottom: 1px solid #2f343e;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      :local(.component).course-nav .card-lessons .card-lesson-block .card-lesson-content .lesson-title {
        font-weight: 300;
        margin: 0; }
      :local(.component).course-nav .card-lessons .card-lesson-block .icon {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 25px;
        transition: all 0.3s ease-in-out; }
      :local(.component).course-nav .card-lessons .card-lesson-block:hover {
        background-color: #172b4e; }
        :local(.component).course-nav .card-lessons .card-lesson-block:hover .icon {
          fill: #3066d0; }
    :local(.component).course-nav .card-lessons .card-lessons-wrapper {
      padding: 0; }
    :local(.component).course-nav .card-lessons .card-lesson-content {
      padding: 0; }
    :local(.component).course-nav .card-lessons svg:not(.loading-icon) {
      fill: #fff; }
  :local(.component).course-nav .card-lessons-header:after, :local(.component).course-nav .card-lessons-header:before {
    height: 12px; }
  :local(.component).course-nav .card-lessons-header:after {
    right: 35px; }
  :local(.component).course-nav .card-lessons-header:before {
    right: 38px; }
  :local(.component).course-nav .card-lessons-header.active:after, :local(.component).course-nav .card-lessons-header.active:before {
    height: 12px; }
  :local(.component).course-nav .card-lessons-header.active:after {
    transform: translateX(2px) rotate(-40deg); }
  :local(.component).course-nav .card-lessons-header.active:before {
    transform: translateX(-2px) rotate(40deg); }
  :local(.component).course-nav.hidden {
    transform: translateX(-350px); }
    :local(.component).course-nav.hidden .course-data {
      position: fixed;
      top: 0;
      min-width: 350px;
      transform: translateX(30px);
      background-color: rgba(23, 43, 77, 0.8); }
      :local(.component).course-nav.hidden .course-data:hover {
        transform: translateX(350px);
        background-color: #172b4d; }
    :local(.component).course-nav.hidden .course-progress {
      height: 0;
      overflow: hidden; }
    :local(.component).course-nav.hidden .course-title {
      margin: 0; }
    :local(.component).course-nav.hidden .course-block {
      opacity: 1;
      transition: all 0.3s ease-in-out; }
    :local(.component).course-nav.hidden .toggle-nav {
      background-color: transparent; }
      :local(.component).course-nav.hidden .toggle-nav:hover {
        background-color: rgba(23, 43, 77, 0.8); }
      :local(.component).course-nav.hidden .toggle-nav span:first-child {
        transform: rotate(-35deg); }
      :local(.component).course-nav.hidden .toggle-nav span:last-child {
        transform: rotate(35deg); }
    :local(.component).course-nav.hidden + article {
      margin-left: 0;
      padding: 30px 50px; }
