@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component){
 	background:#cecece;
  min-width: 185px;
  height: 240px;
  position: relative;
  display: inline-block;
  background-size:cover;
  background-position:center;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50), 0 5px 12px 0 rgba(0,0,0,0.29);
  border:0;
  margin-right:5px;
  margin-bottom:5px;
  .card-status{
    color:#fff;
    position: absolute;
    display: block;
    margin:8px;
    padding:4px;
    top:0;
    left:0;
    right:0;
    text-align:center;
    text-transform:uppercase;
    font-weight:$medium;
    letter-spacing:0.5px;
    @include fontsize(14);
    &.comming-soon{
      background-color:#ff0000;
    }
    &.free-course{
      background-color:#27921A;
    }
    &.blocked{}
  }
  .card-description{
    position: absolute;
    bottom:0;
    display: block;
    margin:auto;
    text-align:center;
    width: 100%;
    background:rgba(0,0,0,0.8);
    padding:10px 5px;
  }
  .card-title{
    color:#fff;
    @include fontsize(14);
    font-weight:$medium;
    letter-spacing:0.5px;
    margin-bottom: 4px;
  }
  .card-category{
    font-size:10px;
    color:#fff;
  }
}