:local(.component) {
  background: #393C47;
  min-height: 100vh;
  min-width: 100vw;
  position: relative; }
  :local(.component) .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    max-width: calc(100% - 30px);
    color: white; }
  :local(.component) .logo {
    text-align: center; }
    :local(.component) .logo img {
      max-width: 200px;
      margin-bottom: 20px; }
  :local(.component) .buttons {
    justify-content: space-between; }
  :local(.component) .card {
    margin-bottom: 15; }
