:local(.component) .filesList li {
  transition: all 0.3s ease-in-out;
  padding: 15px 25px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  border-radius: 3px;
  background-color: #f6f6f6;
}
:local(.component) .filesList li:not(:last-child) {
  margin-bottom: 5px;
}
:local(.component) .filesList li:hover {
  background-color: #eeeeee;
}
:local(.component) .filesList li svg {
  float: left;
  margin-right: 20px;
}

:local(.component) .filesList .btnCancel {
  width: 20px;
  height: 20px;
  padding: 0;
  float: right;
  position: relative;
  font-weight: 600;
  line-height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #d8d8d8;
  cursor: pointer;
}
:local(.component) .filesList .btnCancel:before,
:local(.component) .filesList .btnCancel:after {
  transition: all 0.3s ease-in-out;
  content: '';
  width: 10px;
  height: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  background-color: black;
}
:local(.component) .filesList .btnCancel:before {
  transform: rotate(-45deg);
}
:local(.component) .filesList .btnCancel:after {
  transform: rotate(-135deg);
}
:local(.component) .filesList .btnCancel:hover:before {
  transform: rotate(-135deg);
}
:local(.component) .filesList .btnCancel:hover:after {
  transform: rotate(-45deg);
}

:local(.component) .fileProgress {
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  border-radius: 2px;
  background-color: #acece6;
}
:local(.component) .fileProgress span {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #383838;
  transition: all 0.3s ease-in-out;
}
:local(.component) .fileProgress .f-1 {
  max-width: 1%;
}
:local(.component) .fileProgress .f-2 {
  max-width: 2%;
}
:local(.component) .fileProgress .f-3 {
  max-width: 3%;
}
:local(.component) .fileProgress .f-4 {
  max-width: 4%;
}
:local(.component) .fileProgress .f-5 {
  max-width: 5%;
}
:local(.component) .fileProgress .f-6 {
  max-width: 6%;
}
:local(.component) .fileProgress .f-7 {
  max-width: 7%;
}
:local(.component) .fileProgress .f-8 {
  max-width: 8%;
}
:local(.component) .fileProgress .f-9 {
  max-width: 9%;
}
:local(.component) .fileProgress .f-10 {
  max-width: 10%;
}
:local(.component) .fileProgress .f-11 {
  max-width: 11%;
}
:local(.component) .fileProgress .f-12 {
  max-width: 12%;
}
:local(.component) .fileProgress .f-13 {
  max-width: 13%;
}
:local(.component) .fileProgress .f-14 {
  max-width: 14%;
}
:local(.component) .fileProgress .f-15 {
  max-width: 15%;
}
:local(.component) .fileProgress .f-16 {
  max-width: 16%;
}
:local(.component) .fileProgress .f-17 {
  max-width: 17%;
}
:local(.component) .fileProgress .f-18 {
  max-width: 18%;
}
:local(.component) .fileProgress .f-19 {
  max-width: 19%;
}
:local(.component) .fileProgress .f-20 {
  max-width: 20%;
}
:local(.component) .fileProgress .f-21 {
  max-width: 21%;
}
:local(.component) .fileProgress .f-22 {
  max-width: 22%;
}
:local(.component) .fileProgress .f-23 {
  max-width: 23%;
}
:local(.component) .fileProgress .f-24 {
  max-width: 24%;
}
:local(.component) .fileProgress .f-25 {
  max-width: 25%;
}
:local(.component) .fileProgress .f-26 {
  max-width: 26%;
}
:local(.component) .fileProgress .f-27 {
  max-width: 27%;
}
:local(.component) .fileProgress .f-28 {
  max-width: 28%;
}
:local(.component) .fileProgress .f-29 {
  max-width: 29%;
}
:local(.component) .fileProgress .f-30 {
  max-width: 30%;
}
:local(.component) .fileProgress .f-31 {
  max-width: 31%;
}
:local(.component) .fileProgress .f-32 {
  max-width: 32%;
}
:local(.component) .fileProgress .f-33 {
  max-width: 33%;
}
:local(.component) .fileProgress .f-34 {
  max-width: 34%;
}
:local(.component) .fileProgress .f-35 {
  max-width: 35%;
}
:local(.component) .fileProgress .f-36 {
  max-width: 36%;
}
:local(.component) .fileProgress .f-37 {
  max-width: 37%;
}
:local(.component) .fileProgress .f-38 {
  max-width: 38%;
}
:local(.component) .fileProgress .f-39 {
  max-width: 39%;
}
:local(.component) .fileProgress .f-40 {
  max-width: 40%;
}
:local(.component) .fileProgress .f-41 {
  max-width: 41%;
}
:local(.component) .fileProgress .f-42 {
  max-width: 42%;
}
:local(.component) .fileProgress .f-43 {
  max-width: 43%;
}
:local(.component) .fileProgress .f-44 {
  max-width: 44%;
}
:local(.component) .fileProgress .f-45 {
  max-width: 45%;
}
:local(.component) .fileProgress .f-46 {
  max-width: 46%;
}
:local(.component) .fileProgress .f-47 {
  max-width: 47%;
}
:local(.component) .fileProgress .f-48 {
  max-width: 48%;
}
:local(.component) .fileProgress .f-49 {
  max-width: 49%;
}
:local(.component) .fileProgress .f-50 {
  max-width: 50%;
}
:local(.component) .fileProgress .f-51 {
  max-width: 51%;
}
:local(.component) .fileProgress .f-52 {
  max-width: 52%;
}
:local(.component) .fileProgress .f-53 {
  max-width: 53%;
}
:local(.component) .fileProgress .f-54 {
  max-width: 54%;
}
:local(.component) .fileProgress .f-55 {
  max-width: 55%;
}
:local(.component) .fileProgress .f-56 {
  max-width: 56%;
}
:local(.component) .fileProgress .f-57 {
  max-width: 57%;
}
:local(.component) .fileProgress .f-58 {
  max-width: 58%;
}
:local(.component) .fileProgress .f-59 {
  max-width: 59%;
}
:local(.component) .fileProgress .f-60 {
  max-width: 60%;
}
:local(.component) .fileProgress .f-61 {
  max-width: 61%;
}
:local(.component) .fileProgress .f-62 {
  max-width: 62%;
}
:local(.component) .fileProgress .f-63 {
  max-width: 63%;
}
:local(.component) .fileProgress .f-64 {
  max-width: 64%;
}
:local(.component) .fileProgress .f-65 {
  max-width: 65%;
}
:local(.component) .fileProgress .f-66 {
  max-width: 66%;
}
:local(.component) .fileProgress .f-67 {
  max-width: 67%;
}
:local(.component) .fileProgress .f-68 {
  max-width: 68%;
}
:local(.component) .fileProgress .f-69 {
  max-width: 69%;
}
:local(.component) .fileProgress .f-70 {
  max-width: 70%;
}
:local(.component) .fileProgress .f-71 {
  max-width: 71%;
}
:local(.component) .fileProgress .f-72 {
  max-width: 72%;
}
:local(.component) .fileProgress .f-73 {
  max-width: 73%;
}
:local(.component) .fileProgress .f-74 {
  max-width: 74%;
}
:local(.component) .fileProgress .f-75 {
  max-width: 75%;
}
:local(.component) .fileProgress .f-76 {
  max-width: 76%;
}
:local(.component) .fileProgress .f-77 {
  max-width: 77%;
}
:local(.component) .fileProgress .f-78 {
  max-width: 78%;
}
:local(.component) .fileProgress .f-79 {
  max-width: 79%;
}
:local(.component) .fileProgress .f-80 {
  max-width: 80%;
}
:local(.component) .fileProgress .f-81 {
  max-width: 81%;
}
:local(.component) .fileProgress .f-82 {
  max-width: 82%;
}
:local(.component) .fileProgress .f-83 {
  max-width: 83%;
}
:local(.component) .fileProgress .f-84 {
  max-width: 84%;
}
:local(.component) .fileProgress .f-85 {
  max-width: 85%;
}
:local(.component) .fileProgress .f-86 {
  max-width: 86%;
}
:local(.component) .fileProgress .f-87 {
  max-width: 87%;
}
:local(.component) .fileProgress .f-88 {
  max-width: 88%;
}
:local(.component) .fileProgress .f-89 {
  max-width: 89%;
}
:local(.component) .fileProgress .f-90 {
  max-width: 90%;
}
:local(.component) .fileProgress .f-91 {
  max-width: 91%;
}
:local(.component) .fileProgress .f-92 {
  max-width: 92%;
}
:local(.component) .fileProgress .f-93 {
  max-width: 93%;
}
:local(.component) .fileProgress .f-94 {
  max-width: 94%;
}
:local(.component) .fileProgress .f-95 {
  max-width: 95%;
}
:local(.component) .fileProgress .f-96 {
  max-width: 96%;
}
:local(.component) .fileProgress .f-97 {
  max-width: 97%;
}
:local(.component) .fileProgress .f-98 {
  max-width: 98%;
}
:local(.component) .fileProgress .f-99 {
  max-width: 99%;
}
:local(.component) .fileProgress .f-100 {
  max-width: 100%;
}

:local(.component) .inputSelect {
  transition: all 0.3s ease-in-out;
  display: block;
  height: 100px;
  text-align: center;
  border: 1px dashed #383838;
  cursor: pointer;
}
:local(.component) .inputSelect:hover {
  background-color: #eeeeee;
}
:local(.component) .inputSelect span {
  font-size: 16px;
  line-height: 100px;
}
:local(.component) .inputSelect strong {
  text-decoration: underline;
}

:local(.component) .input-file {
  display: none;
}
