:local(.drawer) {
  width: 240px;
  border-right: none; }
  @media screen and (min-width: 960px) {
    :local(.drawer) {
      width: 240px;
      position: relative;
      height: 100vh; } }

:local(.component) {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh; }
  :local(.component) .app-bar {
    position: absolute;
    margin-left: 240px; }
    @media screen and (min-width: 960px) {
      :local(.component) .app-bar {
        width: calc(100% - 240px); } }
  :local(.component) .icon-menu {
    margin-left: -15px;
    margin-right: 10px; }
    @media screen and (min-width: 960px) {
      :local(.component) .icon-menu {
        display: none; } }
  :local(.component) .content {
    background-color: #fafafa;
    width: 100vw;
    height: calc(100vh - 56px);
    overflow: auto;
    margin-top: 56px;
    padding: 12px; }
    @media screen and (min-width: 600px) {
      :local(.component) .content {
        height: calc(100vh - 64px);
        margin-top: 64px;
        padding: 24px; } }
    @media screen and (min-width: 960px) {
      :local(.component) .content {
        width: calc(100% - 240px);
        margin-left: 240px; } }
