@import '../../assets/variables';

:local(.drawer) {
  width: $drawer_width;
  border-right: none !important;
  box-shadow: $box-shadow !important;
  @include media-min-breakpoints(md) {
    width: $drawer_width;
    position: relative;
    height: 100vh;
  }
}

:local(.component) {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  .icon-menu {
    margin-left: -15px;
    margin-right: 10px;

    @include media-min-breakpoints(md) {
      display: none;
    }
  }

  .content {
    background-color: $content_background_color;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: $content_padding;

    @include media-min-breakpoints(sm) {
      padding: $content_padding_up_sm;
    }

    @include media-min-breakpoints(md) {
      margin-left: $drawer_width;
    }
  }

}