@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component) {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid $affirmative-color;
  margin-bottom: 20px;
  .tab-button {
    padding: 15px 20px;
    background-color: $medium-gray;
    color: $dark-color;
    margin-right: 2px;
    display: flex;
    @include transition;
    border-radius: 4px 4px 0 0;
    @include fontsize(14);
    line-height: 1rem;
    .icon {
      height: 15px;
      min-height: 15px;
      margin-right: 10px;
      fill: $dark-color;
      @include transition;
    }
    &:hover,
    &.active {
      color: #fff;
      // box-shadow: inset 10px -18px 0px -13px $affirmative-color;
      background-color: #203153;

      .icon {
        fill: #fff;
      }
    }
  }
}
