:local(.component) {
  padding-left: 250px; }
  :local(.component) > .container {
    padding: 30px 30px 40px 30px;
    min-height: calc(100vh - 60px);
    position: relative;
    width: 100%;
    max-width: 100%; }
  :local(.component) + .page-footer {
    margin-left: 250px; }

:local(.component) .upsells-grid {
  padding: 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; }
  :local(.component) .upsells-grid .item {
    width: 250px;
    border: 1px solid #EEEEEE;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 15px; }
  :local(.component) .upsells-grid .settings {
    border: 0;
    background: transparent;
    padding: 10px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    :local(.component) .upsells-grid .settings .icon {
      height: 25px;
      fill: #b1b1b1;
      transition: all 0.3s ease-in-out; }
    :local(.component) .upsells-grid .settings:hover {
      background-color: #EEEEEE; }
  :local(.component) .upsells-grid .content {
    padding: 15px 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background: #fff;
    border-top: 1px solid #EEEEEE; }
  :local(.component) .upsells-grid .title {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    max-height: 32px;
    min-height: 32px;
    overflow: hidden; }
  :local(.component) .upsells-grid .image,
  :local(.component) .upsells-grid .image img {
    height: 200px;
    object-fit: cover;
    width: 100%; }
  :local(.component) .upsells-grid .actions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    padding: 30px;
    transform: translateY(250px);
    visibility: hidden;
    transition: all 0.3s ease-in-out; }
    :local(.component) .upsells-grid .actionCreators.active {
      transform: translateY(0);
      visibility: visible; }
    :local(.component) .upsells-grid .actions button {
      border: 0;
      text-align: center;
      display: flex;
      align-items: center;
      flex-flow: column;
      background: transparent;
      cursor: pointer; }
      :local(.component) .upsells-grid .actions button:hover .icon {
        fill: #3066d0; }
      :local(.component) .upsells-grid .actions button:hover span {
        color: #3066d0; }
      :local(.component) .upsells-grid .actions button span {
        color: #2f343e;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        font-size: 0.875rem; }
    :local(.component) .upsells-grid .actions .icon {
      height: 30px;
      display: block;
      margin: 10px auto;
      fill: #2f343e;
      transition: all 0.3s ease-in-out; }
