:local(.component) {
  text-align: left;
  margin-top: 20px;
  width: calc(100% + 8px);

  .text {
    padding: 8px 15px 0 15px;
    line-height: normal;

    small {
      display: block;
      margin-bottom: 2px;
    }
  }
}