:local(.component) {
  text-align: left;
  margin-top: 20px;
  width: calc(100% + 8px); }
  :local(.component) .text {
    padding: 8px 15px 0 15px;
    line-height: normal; }
    :local(.component) .text small {
      display: block;
      margin-bottom: 2px; }
