// $primary-color: #1b1b1b;
// $darkest-color: #2f343e;
// $background-color: #32353c;
$text-color: #172b4d;
$dark-color: #172b4d;
$background-color: #2f343e;
$primary-brand: #78cc5c;
$secondary-brand: #1e3356;
$primary-color: #1b1b1b;
$darkest-color: #1a1a1a;
$dark-gray: #b1b1b1;
$medium-gray: #d8d8d8;
$light-gray: #eeeeee;
$affirmative-color: #3066d0;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$montserrat: 'Montserrat',
sans-serif;