@import "variables";
@import "fonts";
@import "mixins";
@import "reset";
@import "materialize";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body{
  padding:60px 0 0 0;
}
.waves-effect.waves-dark .waves-ripple {
  background-color: $darkest-color;
}
.main-header{
  background-color:#1B1B1B;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
    padding:0 20px;
  }
}
.container{
  width: 100%;
  max-width: 100%;
}


.button{
  padding:12px 30px;
  border:0;
  border-radius:50px;
  background-color:#d8d8d8;
  display: inline-block;
  color:$primary-color;
  @include transition;
  span{
    letter-spacing:0.5px;
    font-weight:$medium;
    font-size:16px;
    @include transition;
    color:#3A3A3A;
  }
  .icon{
      fill:#3a3a3a;
      margin-right:5px;
      height: 15px;
      // width: 15px;
  }
  &.affirmative{
    background-color:$affirmative-color;
    span{
      color:#fff;
    }
    .icon{
      fill:#fff;
    }
  }
  &.small{
    padding:10px 20px;
    span{
      font-size:12px;
    }
    .icon{
      height:10px;
      margin-right:5px;
    }
  }
  &.soft{
    background-color:#e6e6e6;
    border:1px solid #202020;
  }
  &.outline{
    background-color: transparent;
    border:1px solid #fff;
    span{
      color:#fff;

    }
    &:hover{
      background-color:transparentize(#fff, 0.3);
      span{
        color:$dark-color;
      }

    }
  }
}

.header-logo{
  height: 40px;
  display: block;
  img{max-height:100%;}
}
nav{
  color:inherit;
  background-color:inherit;
  height: auto;
  line-height: initial;
}
.input-label{
  display: block;
  color:$dark-color;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-weight: $medium;
}
.side-nav{
  background-color: #2F2F2F;
  position: fixed;
  width: 250px;
  display: block;
  height:calc(100vh - 60px);
  top:60px;
  left:0;
  box-sizing:border-box;
  transform: initial;
  overflow: initial;
  ::-webkit-scrollbar-track {
    background-color: $dark-color;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
  }

  ::-webkit-scrollbar-thumb {
    background: $darkest-color;
  }
  .block{
    display:block;
    width: 100%;
    &.welcome{
      padding:20px;
      display: flex;
      align-items:center;
      background: #282828;
    }
    &.side-menu{
      height: calc(100vh - 250px);
      overflow-y: auto;
      ul{
        list-style:none;
        padding:0;
        margin:0;
      }
    }
  }
  .user-photo{
    display: block;
    width: 60px;
    height: 60px;
    border-radius:50%;
    overflow:hidden;
    img{
      width: 60px;
      height: 60px;
      object-fit:cover;
    }
  }//end user photo
  .user-data{
    color:#fff;
    padding-left:10px;
    .message{
      @include fontsize(10);
      letter-spacing:0.7px;
      text-transform:uppercase;
    }
    .name{
      color:#fff;
      @include fontsize(15);
      letter-spacing:1px;
      margin:2px;
    }
  }
  .inside-nav{
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding:20px;
    ul{
      list-style:none;
      margin:0;
      padding:0;
      display:flex;
      align-items:flex-end;
      justify-content:space-around;
      text-align:center;
    }
    .icon{
      fill:#fff;
      height: 30px;
      width:30px;
      margin-bottom: 10px;
      display: block;
    }
    a{
      color:#fff;
      @include fontsize(12);
    }
  }
}
.filters-backdrop{
    background-color: transparent;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: none;
    &.active{
      display: block;
      opacity: 0.8;
      pointer-events: all;
    }
}
.filters{
  position:fixed;
  left: auto;
  right: -274px;
  position: fixed;
  margin: 0;
  width: 274px;
  top: 60px;
  bottom: 0;
  border-radius: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
  background: #FFF;
  z-index: 1002;
  transition: all 0.3s cubic-bezier(.42,0,.66,1);
  box-shadow: none;
  &.active{
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    right:0;
  }
  ::-webkit-scrollbar-track {
    background-color: $light-gray;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
  }

  ::-webkit-scrollbar-thumb {
    background: $background-color;
  }
  .container{
    height: calc(100vh - 130px);
    overflow-y: auto;
    padding-top:60px;
  }
  .filter-header{
    padding:10px 20px;
    background-color:#fff;
    z-index: 9999;
  }
  .block{
    border-bottom:1px solid #eaeaea;
  }
  .block-header{
    padding:10px 20px;
    @include transition;
    label{
      font-weight: $medium;
      cursor:pointer;
      color:$background-color;
      letter-spacing: 0.5px;
    }
    &:after,
    &:before{
      height: 12px;
    }
    &:after{
      right: 35px;
    }
    &:before{
      right: 38px;
    }
    &.active{
      &:after,
      &:before{
        height: 12px;
      }
      &:after{
        transform: translateX(2px) rotate(-40deg);
      }
      &:before{
        transform: translateX(-2px) rotate(40deg);
      }
    }
    // &.active label{
    //   color:$affirmative-color;
    // }
    &:hover{
      background-color:transparentize($light-gray, 0.5);
      label{
        color:$dark-color;
      }
    }
  }
  .block-content{
    padding:0 20px;
  }
  .filter-header{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    margin:auto;
  }
  .filter-close{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    padding:7px;
    background-color:$light-gray;
    border-radius:50%;
    @include transition;

    svg{
      fill:$dark-color;
      @include transition;
    }
    &:hover{
      background-color:$dark-color;
      transform: rotate(180deg);
      svg{
        fill:$light-gray;
      }
    }
  }
  .action-button{
    padding:20px 0;
    display: flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    background-color:#fff;
  }
  .switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after{
    left:16px;
  }
  .switch{
    padding:5px 0;
    label .lever{
      width:30px;
      height: 16px;
      &:before,
      &:after{
        width: 12px;
        height: 12px;
        left:2px
      }
    }
  }
  .input-field{
    margin-top:5px;
    input{
      height: 40px;
      @include fontsize(13);
      margin-bottom:5px;
    }
    label{
      color:#232323;
    }
  }
  .dropdown-content li > span{
    @include fontsize(14);
  }
  .filter-header-title{
    @include fontsize(22);
    margin: 10px 0;
    font-weight: $medium;
  }
}
.side-menu{
  .icon{
    fill:#fff;
    width: 14px;
    height: 15px;
    margin-right:10px;
  }
  .nav-button{
    color:#fff;
    letter-spacing:1px;
    padding:20px;
    display: flex;
    align-items:center;
    @include fontsize(14);
    @include transition;
    font-weight: $regular;
    border-bottom:$dark-color;
    background-color:$background-color;
    &:hover{
      background-color:$dark-color;
    }
  }
  .submenu .nav-button{
      padding:20px 20px 20px 40px;
      background-color:$darkest-color;
      &:hover{
        background-color:#0c0c0c;
      }
    }
}
.page-content{
  padding-left:250px;
  >.container{
    padding:20px 20px 40px 20px;
    min-height: calc(100vh - 60px);
    position:relative;
  }
  &+.page-footer{
    margin-left:250px;
  }
}
.cards-wrapper{
  padding:10px 0;
}
.tabs{
  padding:20px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  border-bottom: 1px solid $dark-color;
  margin-bottom: 20px;
  .tab-button{
    padding:15px 30px;
    background-color:$medium-gray;
    color:$dark-color;
    margin-right:2px;
    @include transition;
    .icon{
      height: 15px;
      min-height: 15px;
      margin-right:10px;
      fill:$dark-color;
      @include transition;
    }
    &:hover,
    &.active{
      // color:#fff;
      // background-color:$dark-color;
      .icon{
        fill:#fff;
      }
    }
  }
  .tab-button:last-child{
    margin-right:0;
  }
}
.card{
  background:#cecece;
  width: 170px;
  height: 220px;
  position: relative;
  display: inline-block;
  background-image:url(https://udemy-images.udemy.com/course/750x422/959700_8bd2_9.jpg);
  background-size:cover;
  background-position:center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50), 0 5px 12px 0 rgba(0,0,0,0.29);
  border:0;
  margin-right:20px;
  margin-bottom:20px;
  .card-status{
    color:#fff;
    position: absolute;
    display: block;
    margin:8px;
    padding:4px;
    top:0;
    left:0;
    right:0;
    text-align:center;
    text-transform:uppercase;
    font-weight:$medium;
    letter-spacing:0.5px;
    @include fontsize(14);
    &.comming-soon{
      background-color:#ff0000;
    }
    &.free-course{
      background-color:#27921A;
    }
    &.blocked{}
  }
  .card-description{
    position: absolute;
    bottom:0;
    display: block;
    margin:auto;
    text-align:center;
    width: 100%;
    background:rgba(0,0,0,0.8);
    padding:10px 5px;
  }
  .card-title{
    color:#fff;
    @include fontsize(14);
    font-weight:$medium;
    letter-spacing:0.5px;
    margin-bottom: 4px;
  }
  .card-category{
    font-size:10px;
    color:#fff;
  }
}

.search-bar{
  padding:20px 0;
  display: flex;
  align-items:center;
  justify-content: space-between;

  >.input-field{
    width: 100%;
    margin: 0;
    margin-right: 40px;
    input{
      margin:0;
      box-sizing:border-box;
    }
  }
  .button{
    min-width: 140px;
    text-align: center;
    margin:0 5px;
  }
  .button:last-child{
    margin:0;
  }
}


.page-header{
  padding:45px 20px;
  margin:-20px -20px 0 -20px;
  // border-bottom:1px solid #cecece;
  background-color: #fafafa;
  .container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0;
  }
  .page-title{
    @include fontsize(36);
    font-weight: $regular;
    margin:0;
    margin-bottom: 5px;
  }
  .page-subtitle{
     @include fontsize(16);
     letter-spacing: 0.5px;
     font-weight: $regular;
  }
}
.input-color{
  height: 40px;
  width: 80px;
  >div{
    height: 100%!important;
    width: 100%!important;
  }
}
.input-img{
  padding:20px 0;
  .container{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50), 0 5px 12px 0 rgba(0,0,0,0.29);
    display: block;
    background-color:#f1f1f1;
    position:relative;
    padding:20px;
    font-weight: $medium;
    .button{
      text-transform: uppercase;
    }
    .top-left{
      position: absolute;
      top: 20px;
      left: 20px;
      margin:auto;
    }
    .top-right{
      position: absolute;
      top: 20px;
      right: 20px;
      margin:auto;
    }
    .center{
      justify-content: center;
      align-items:center;
    }
  }
  &.large-banner .container{
    height: 250px;
    width: 100%;
  }
  &.login-logo,
  &.header-logo,
  &.card-img,
  &.course-logo{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: column;
    background-color: $medium-gray;
    span{
      color:$dark-color;
      text-transform: uppercase;
      font-weight: $medium;
    }
    .icon{
      width: 50px;
      margin:20px;
      fill:$dark-color;
    }
  }
  &.course-logo{
    height: 170px;
    width: 170px;
    margin: 20px;
  }
  &.card-img{
    width: 170px;
    height: 220px;
  }
  &.login-logo{
    width: 170px;
    height: 170px;
  }
  &.header-logo{
    width: 220px;
    height: 60px;
    flex-flow: row;
    span{
      @include fontsize(14);
    }
    .icon{
      margin:10px 5px;
      width: 20px;
    }

  }
}
.page-course{
}
.form-section{
  padding: 20px 0;
  border-bottom:1px solid $light-gray;
  .row{
    margin-bottom: 0;
  }
  .form-block{
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    p{
      line-height: 1.2rem;
    }
    .radio-description{
      max-width: 320px;
    }
   input.datepicker{
    margin-bottom:0;
    max-width: 200px;
    }
  }
  .form-block-title{
    @include fontsize(18);
    font-weight: $medium;
    margin:0 0 5px 0;
  }
}
.form-section-title{
  @include fontsize(24);
  font-weight: $medium;
  padding:0 0 20px 0;
  // margin:30px 0 0 0;
  margin:0;
}
.page-footer{
    padding:5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: -40px;
    background-color:#fff;
    span{
      color:$dark-color;
      @include fontsize(12);
      letter-spacing: 0.5px;
    }
    .logo-footer{
      height: 20px;
      padding:0 0 0 10px;
      filter: grayscale(100%);
      @include transition;
      .blue{
        fill:#1F3255;
      }
      .yellow{
        fill:#FFCD2B;
      }
    }
    .avatar{
      height: 30px;
      @include transition;
      transform: scale(0) translateX(-20px) rotate(45deg);
      transform-origin: 0 100%;
      margin-top: -20px;

    }
    &:hover{
      .avatar{
        transform: scale(1) translateX(0) rotate(0);
      }
      .logo-footer{
        filter: grayscale(0);
      }
    }
}
.block-header,
.card-lessons-header{
    padding:20px 55px 20px 20px;
    position:relative;
    cursor:pointer;
      &:before{
        transition: all .2s ease-in-out;
        content: '';
        display: inline-block;
        background: $medium-gray;
        width: 2px;
        height: 16px;
        border-radius: 16px;
        transform: translateX(5px) rotate(40deg);
        position: absolute;
        top: 0 ;
        right: 40px;
        bottom: 0 ;
        margin: auto;

      }

    &:after{
      transition: all .2s ease-in-out;
      content: '';
      display: inline-block;
      background: $medium-gray;
      width: 2px;
      height: 16px;
      border-radius: 16px;
      transform: translateX(-5px) rotate(-40deg);
      position: absolute;
      top: 0 ;
      right: 40px ;
      bottom: 0 ;
      margin: auto;
    }
    &:hover{
      &:before,&:after{
        background:$affirmative-color;
      }
    }
    &.active{
      &:before{
        content: '';
        display: inline-block;
        width: 2px;
        height: 16px;
        border-radius: 16px;
        transform: translateX(-5px) rotate(40deg);

      }

      &:after{
        content: '';
        display: inline-block;
        width: 2px;
        height: 16px;
        border-radius: 16px;
        position: absolute;
        transform: translateX(5px) rotate(-40deg);
      }
    }
  }
.card-lessons{
  margin:20px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 5, 5, 0.46), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  background-color:#fff;
  position:relative;
  border-radius:4px;
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 5, 5, 0.46), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-lessons-title{
    @include fontsize(18);
    font-weight: $medium;
    margin:0;
  }
  .card-lessons-resume{
    color:$affirmative-color;
    font-weight: $medium;
    padding:5px 0 0 0;
    .icon{
      fill:$affirmative-color;
    }
  }
  .card-lessons-wrapper{
    padding:20px;
    padding-top: 0!important;
  }
  .card-lessons-resume span{
    margin-right: 10px;
  }
  .card-lesson-block{
    padding:20px 120px 20px 20px;
    background-color:$light-gray;
    margin: 10px 0 0 0;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    position:relative;
    .button{
      text-transform: uppercase;
      font-weight: $medium;
      letter-spacing: 0.5px;
      position:absolute;
      top: 0;
      bottom:0;
      right: 20px;
      display: block;
      height: 35px;
      margin:auto;
    }
  }
  .card-lesson-thumb{
    width: 160px;
    height: 120px;
    display: block;
    background-color:#fff;
  }
  .card-lesson-description{
    line-height: 1.2rem;
  }
  .card-lesson-content{
    padding:0 20px;
    .lesson-title{
      @include fontsize(16);
      font-weight: $medium;
      margin:0 0 10px 0;
    }
  }

}
.check-description,
.date-description{
  margin-bottom:10px;
  @include fontsize(16);
}
.input-description{
  margin-bottom: 20px;
}
.switch{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.chips{
  width:100%;
  min-height: 9rem;
  background: #fff;
  border: 1px solid #828282;
  margin: 10px 0;
  padding: 5px;
  &.focus{
    border-bottom: 1px solid $dark-color;
    box-shadow: 0 1px 0 0 $dark-color;
  }
  .chip.selected {
    background-color: $dark-color;
    color: #fff;
  }
}
.student-content{
  >.container{
    padding: 20px 20px 40px 20px;
    min-height: calc(100vh - 60px);
    position: relative;
  }
  .card.course{
    @include transition;
    cursor:pointer;
    &:hover{
      transform: scale(1.1) translateY(-5px);
    }
  }
  .featured-carousel{
    $carousel-item-height: 250px;
    width: 100%;
    // padding:0 40px;
    .slick-prev, .slick-next{
      z-index: 5;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:transparentize($dark-color, 0.3);
      padding:0px;
      width: 40px;
      height: 100%;
      svg{
        fill:none;
        stroke:#FFFFFF;
        stroke-width:3;
        stroke-linecap:round;
        stroke-miterlimit:10;
        width: 20px;
      }
      &:before{
        display: none;
      }
    }
    .slick-prev{
      left: 0;
    }
    .slick-next{
      right: 0;
    }
    .featured-item{
      height: $carousel-item-height;
      @include transition;
      position:relative;
      .content{
        position:absolute;
        bottom:0;
        background-color: transparentize($dark-color, 0.3);
        color:#fff;
        left: 0;
        right: 0;
        margin:auto;
        padding:25px 50px;
        height: auto;
        transform: translateY(50px);
        @include transition;

      }
      .item-title{
        margin:0;
        @include fontsize(32);
        margin-bottom: 10px;
        font-weight: $medium;
      }
      .item-content{
        @include fontsize(14);
        line-height: 14px;
        margin-bottom: 10px;
      }
      .button{
        opacity: 0;
        @include transition;
        visibility: hidden;
      }
      img{
        @include transition;
        height: $carousel-item-height;
        width: 100%;
        object-fit: cover;
      }
      &:hover{
        // transform: scale(1.1);
        z-index: 3;
        .content{
          transform: translateY(0);
        }
        .button{
          opacity: 1;
          visibility: visible;
        }
      }//end hover
    }//end featured item
  }//end feature carousel
}
.student-course-content{
  >.container{
    min-height: calc(100vh - 450px);
    position: relative;
  }
  .container{
    padding: 20px 20px 40px 20px;
    max-width: 1080px;
    width: 100%;
  }
  .action-button{
    position:absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin:auto;
    z-index: 4;
    .button{
      text-transform: uppercase;
    }
    .container{
      padding:20px;
    }
  }
  .banner-course{
    height: 400px;
    width: 100%;
    position:relative;
    color:#fff;
    text-shadow: 1px 1px $dark-color;
    .banner-content{
      position:relative;
      z-index: 2;
      padding-top:60px;
    }
    .course-name{
      @include fontsize(32);
      font-weight: $medium;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin:30px 0;
    }
    .course-description{
      line-height: 1.075rem;
    }
    .course-number-lessons{
      padding:10px 0;
      @include fontsize(14);
      letter-spacing: 1px;
    }
    .course-author{
      display: flex;
      justify-content: flex-start;
      align-items:center;
      padding:20px 0;
    }
    .course-author-img,
    .course-author-img img{
      width: 50px;
      height: 50px;
      border-radius:50%;
      overflow:hidden;
    }
    .course-author-img img{
      object-fit: cover;
    }
    .course-author-data{
      padding:20px;
      @include fontsize(18);
      margin:0;
    }
    .course-progress label{
      text-transform: uppercase;
      font-weight:$medium;
      letter-spacing: 1px;
    }
    .progress-bar{
      width: 250px;
      height: 3px;
      display: block;
      margin:8px 0;
      background-color:#fff;
      span{
        background-color:$affirmative-color;
        display: block;
        height: 3px;

      }
    }
  }
}
.banner-img,
.banner-img img{
  width: 100%;
  height: 400px;
}
.banner-img img{
  object-fit: cover;
}
.banner-img{
  position:absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: block;
  margin:auto;
  &:before{
    content:"";
    position:absolute;
    width: 100%;
    height: 200px;
    display: block;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(26,26,26,0);
    background: -moz-linear-gradient(top, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 53%, rgba(26,26,26,1) 95%, rgba(26,26,26,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,0)), color-stop(53%, rgba(26,26,26,0)), color-stop(95%, rgba(26,26,26,1)), color-stop(100%, rgba(26,26,26,1)));
    background: -webkit-linear-gradient(top, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 53%, rgba(26,26,26,1) 95%, rgba(26,26,26,1) 100%);
    background: -o-linear-gradient(top, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 53%, rgba(26,26,26,1) 95%, rgba(26,26,26,1) 100%);
    background: -ms-linear-gradient(top, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 53%, rgba(26,26,26,1) 95%, rgba(26,26,26,1) 100%);
    background: linear-gradient(to bottom, rgba(26,26,26,0) 0%, rgba(26,26,26,0) 53%, rgba(26,26,26,1) 95%, rgba(26,26,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1a1a1a', GradientType=0 );
  }
}







.template-black{
  .student-course-content{
    background-color: $darkest-color;
  }
  .student-content{
    background-color: $background-color;
  }
  .student-course-content{
    color:#fff;
  }
  .course-progress label{
    color:#fff;
  }
  input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
      color:#fff;
  }
  .filters{
    background:rgba(33, 33, 33, 0.95);
    label{
      color:#fff;
    }
    .input-field input{
      background-color: $background-color;
    }
    .action-button,
    .filter-header{
      background:rgba(33, 33, 33, 0.95);
      color:#fff;
    }
    .block-header:before,
    .block-header:after{
      background-color:#fff;
    }
    .block-header:hover{
      &:before,&:after{
        background-color: $dark-color;
      }
    }
  }//end filters

  .page-footer{
    background-color:$background-color;
    span{
      color:#fff;
    }
    .logo-footer{
      .yellow{
        fill:#cecece;
        @include transition;
      }
      .blue{
        fill:#fff;
        @include transition;
      }
      .blue-logo{
        fill: $background-color;
      }
    }
    &:hover .logo-footer{

      .yellow{
        fill:#FFCD2B;
      }
    }
  }
  .search-bar{
    > .input-field input{
      background-color: $dark-color;
      border:0;
      color:#fff;
      border-radius:50px;
    }
    > label{
      color:#fff;
    }
  }
  .card-lessons{
    background-color:$darkest-color;
  }
  .card-lesson-block{
    background-color:$dark-color;
  }
}//end template black










