:local(.component) {
  padding-left: 250px; }
  :local(.component) > .container {
    padding: 30px 30px 40px 30px;
    min-height: calc(100vh - 60px);
    position: relative;
    width: 100%;
    max-width: 100%; }
  :local(.component) + .page-footer {
    margin-left: 250px; }
