:local(.component) {
  padding-left: 250px; }
  :local(.component) > .container {
    padding: 30px 30px 40px 30px;
    min-height: calc(100vh - 60px);
    position: relative;
    width: 100%;
    max-width: 100%; }
  :local(.component) + .page-footer {
    margin-left: 250px; }

:local(.component) .course-header {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  :local(.component) .course-header .input-field {
    width: 100%;
    margin-right: 5px; }
  :local(.component) .course-header .button {
    height: 40px;
    width: 250px; }

:local(.component) .form-section {
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee; }
  :local(.component) .form-section .row {
    margin-bottom: 0; }
  :local(.component) .form-section .form-block {
    padding: 10px 0;
    display: inline-block;
    width: 100%; }
    :local(.component) .form-section .form-block p {
      line-height: 1.2rem;
      max-width: 350px; }
    :local(.component) .form-section .form-block .radio-description {
      max-width: 320px; }
    :local(.component) .form-section .form-block input.datepicker {
      margin-bottom: 0;
      max-width: 200px; }
  :local(.component) .form-section .form-block-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0 0 5px 0; }

:local(.component) .form-section-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 0 15px 0;
  margin: 0; }

:local(.component) .tab {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #3066d0;
  margin-bottom: 20px; }
  :local(.component) .tab button {
    padding: 15px 20px;
    background-color: #d8d8d8;
    color: #1c1f27;
    margin-right: 2px;
    display: flex;
    transition: all 0.3s ease-in-out;
    border-radius: 4px 4px 0 0;
    font-size: 0.875rem;
    line-height: 1rem; }
    :local(.component) .tab button .icon {
      height: 15px;
      min-height: 15px;
      margin-right: 10px;
      fill: #1c1f27;
      transition: all 0.3s ease-in-out; }
    :local(.component) .tab button:hover, :local(.component) .tab button.active {
      color: #fff;
      background-color: #203153; }
      :local(.component) .tab button:hover .icon, :local(.component) .tab button.active .icon {
        fill: #fff; }
