:local(.component) {
  .see-more {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }

  .loading {
    pointer-events:none;
    // background-color: rgba(165, 165, 165, 0.1);

    .banner-course {
      height: 400px;
    }

    .course-name {
      height: 33px;
      width: 50vw;
      margin: 30px 0 30px 0;
      background-color: rgba(165, 165, 165, 0.1);
    }

    .lines {
      .line {
        height: 10px;
        margin-bottom: 5px;
        background-color: rgba(165, 165, 165, 0.1);

        &:nth-child(1) {
          width: 65vw;
        }
        &:nth-child(2) {
          width: 70vw;
        }
        &:nth-child(3) {
          width: 50vw;
        }
      }
    }


    .course-author {
      height: 113px;
      padding: 20px 0 20px 0;

      .course-author-img {
        background-color: rgba(165, 165, 165, 0.1);
      }

      .line {
        height: 10px;
        width: 100px;
        background-color: rgba(165, 165, 165, 0.1);
      }
    }

    .course-progress {
      margin-top: 3px;

      .line {
        margin-bottom: 5px;
        width: 100px;
        background-color: rgba(165, 165, 165, 0.1);

        &:nth-child(1) {
          height: 10px;
          width: 125px;
        }

        &:nth-child(2) {
          height: 3px;
          width: 250px;
        }
      }
    }

    .course-news {
      .line {
        height: 10px;
        width: 82px;
        background-color: rgba(165, 165, 165, 0.1);
      }

      span {
        background-color: rgba(165, 165, 165, 0.1);
      }
    }
  }
}