:local(.loading) .share-bar .line {
  height: 12px;
  width: 100px;
  margin-bottom: 5px;
  background-color: rgba(165, 165, 165, 0.1); }

:local(.loading) .share-bar .social-buttons .button {
  height: 35px;
  width: 35px;
  background-color: rgba(165, 165, 165, 0.1); }
