@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component) {
  .nav-button {
    color: #f5f5f5;
    padding: 15px 20px;
    display: flex;
    letter-spacing: 0.5px;
    align-items: center;
    @include fontsize(14);
    line-height: 1rem;
    @include transition;
    font-weight: $medium;
    background-color: $background-color;
    &:hover {
      background-color: $dark-color;
    }
  }
  .submenu .nav-button {
    background-color: $dark-color;
    &:hover {
      background-color: #0c0c0c;
    }
  }
  .collapsible-header {
    position: relative;
    cursor: pointer;
    &:before,
    &:after {
      transition: all 0.2s ease-in-out;
      content: '';
      display: inline-block;
      background: $medium-gray;
      width: 2px;
      height: 10px;
      border-radius: 16px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:before {
      transform: translateX(2px) rotate(40deg);
      right: 26px;
    }
    &:after {
      transform: translateX(-2px) rotate(-40deg);
      right: 27.7px;
    }
    &:hover {
      &:before,
      &:after {
        background: $affirmative-color;
      }
    }
    &.active {
      &:before,
      &:after {
        content: '';
        display: inline-block;
        width: 2px;
        border-radius: 16px;
      }
      &:before {
        transform: translateX(-3.6px) rotate(40deg);
      }
      &:after {
        transform: translateX(3.6px) rotate(-40deg);
      }
    }
  } //end coll header
}
