:local(.loading) .lines {
  height: 287px; }
  :local(.loading) .lines .line {
    height: 10px;
    margin-bottom: 5px;
    background-color: rgba(165, 165, 165, 0.1); }
    :local(.loading) .lines .line:nth-child(1) {
      width: 75%; }
    :local(.loading) .lines .line:nth-child(2) {
      width: 60%; }
    :local(.loading) .lines .line:nth-child(3) {
      width: 70%; }
    :local(.loading) .lines .line:nth-child(4) {
      width: 80%; }
    :local(.loading) .lines .line:nth-child(5) {
      width: 60%; }
