:local(.component) {
  background: #393C47;
  color: #fff;
  height: 100vh; }
  :local(.component) .header {
    padding: 10px 0;
    text-align: center;
    background: #2e3039; }
  :local(.component) .logo {
    margin-top: 10px;
    max-width: 150px; }
  :local(.component) .icon {
    margin: 0; }
  :local(.component) .text {
    color: inherit; }
