@import '../../assets/variables';

:local(.component) {
  background: $primary_color;
  color: $primary_text_color;
  height: 100vh;

  .header {
    padding: 10px 0;
    text-align: center;
    background: darken($primary_color, 5%);
  }

  .logo {
    margin-top: 10px;
    max-width: 150px;
  }

  .icon {
    margin: 0;
  }

  .text {
    color: inherit;
  }
}