@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component){
	.form-section-title{
		  @include fontsize(24);
		  font-weight: $medium;
		  padding:0 0 15px 0;
		  margin:0;
	}
	.input-img{
		padding:0;
	}
}
