:local(.component) {
  background-color: #1a1a1a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; }
  :local(.component) .container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px; }
  :local(.component) .header-logo {
    height: 40px;
    display: block; }
    :local(.component) .header-logo img {
      max-height: 100%; }
  :local(.component) .user-menu {
    position: relative;
    padding: 10px 20px;
    cursor: pointer; }
    :local(.component) .user-menu:before {
      content: '';
      position: absolute;
      border-top: 4px solid #fff;
      border-bottom: 4px solid transparent;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      top: 30px;
      right: 0;
      margin: auto;
      display: block; }
  :local(.component) .user-photo {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden; }
    :local(.component) .user-photo img {
      width: 40px;
      height: 40px;
      object-fit: cover; }
