:local(.component) {
  background-color: #32353c;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; }
  :local(.component) .container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px; }
  :local(.component) .header-actions {
    display: flex;
    align-items: center; }
    :local(.component) .header-actions .button span {
      font-size: 0.875rem; }
    :local(.component) .header-actions .button {
      padding: 10px 30px; }
  :local(.component) .header-button {
    color: #fff;
    background-color: #1c1f27;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out; }
    :local(.component) .header-button .icon {
      fill: #fff;
      height: 12px;
      width: 12px;
      margin-right: 10px; }
    :local(.component) .header-button:hover {
      background-color: #1a1a1a; }
  :local(.component) .header-logo {
    height: 40px;
    display: block; }
    :local(.component) .header-logo img {
      max-height: 100%; }
