@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';


:local(.component){
  background-color:$darkest-color;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  .container{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
    padding:0 20px;
  }
  .header-actions{
    display: flex;
    align-items:center;
    .button span{
      @include fontsize(14);
    }
    .button{
      padding: 10px 30px;
    }
  }
  .header-logo{
    height: 40px;
    display: block;
    img{max-height:100%;}
  }
  .user-menu{
    position:relative;
    padding:10px 20px;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      border-top:4px solid #fff;
      border-bottom:4px solid transparent;
      border-left:4px solid transparent;
      border-right:4px solid transparent;
      top:30px;
      right: 0;
      margin:auto;
      display: block;
    }
  }
  .user-photo{
      display: block;
      width: 40px;
      height: 40px;
      border-radius:50%;
      overflow:hidden;
      img{
        width: 40px;
        height: 40px;
        object-fit:cover;
      }
    }//end user photo
}