@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';


:local(.component){
  background-color:$background-color;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  .container{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
    padding:0 20px;
  }
  .header-actions{
    display: flex;
    align-items:center;
    .button span{
      @include fontsize(14);
    }
    .button{
      padding: 10px 30px;
    }
  }
  .header-button{
    color:#fff;
    background-color:$dark-color;
    padding:20px 30px;
    @include transition;
    .icon{
      fill:#fff;
      height: 12px;
      width: 12px;
      margin-right: 10px;
    }
    &:hover{
      background-color:$darkest-color;
    }
  }
  .header-logo{
    height: 40px;
    display: block;
    img{max-height:100%;}
    display: flex;
    align-items:center;
    svg{
      height: 35px;
      margin-right: 5px;
    }
  }
}
