:local(.component) {
  background-color: #2f343e;
  position: fixed;
  width: 250px;
  display: block;
  height: calc(100vh - 60px);
  top: 60px;
  left: 0;
  box-sizing: border-box;
  transform: initial;
  overflow: initial; }
  :local(.component) .container {
    width: 100%;
    max-width: 100%; }
  :local(.component) ::-webkit-scrollbar-track {
    background-color: #172b4d; }
  :local(.component) ::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4; }
  :local(.component) ::-webkit-scrollbar-thumb {
    background: #1a1a1a; }
