:local(.component) {
  display: block;
  width: 100%;
  height: calc(100vh - 250px);
  overflow-y: auto; }
  :local(.component) ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  :local(.component) .icon {
    fill: #fff;
    width: 16px;
    height: 16px;
    margin-right: 10px; }
