:local(.component) .actions {
  display: flex;
  align-items: center;
  height: 70px; }

:local(.component) a {
  margin: 10px; }

:local(.component) .expand-icon {
  margin-left: auto; }

:local(.component) .expanded {
  transform: rotate(180deg); }

:local(.component) .card-actions-form {
  width: 100%; }

:local(.component) svg {
  fill: #fff; }

:local(.component) .loading-icon {
  stroke: #fff; }
  :local(.component) .loading-icon + p {
    padding-bottom: 20px; }
