:local(.component) {
  .actions {
    display: flex;
    align-items: center;
    height: 70px;
  }
  a {
    margin: 10px;
  }
  .expand-icon {
    margin-left: auto;
  }

  .expanded {
    transform: rotate(180deg);
  }
  .card-actions-form {
    width: 100%;
  }
  svg {
    fill: #fff;
  }
  .loading-icon {
    stroke: #fff;
    +p {
      padding-bottom: 20px;
    }
  }
}