:local(.component) {
  height: 56px;
  margin-top: -12px;
  margin-bottom: 12px; }
  @media screen and (min-width: 600px) {
    :local(.component) {
      height: 64px;
      margin-top: -24px;
      margin-bottom: 24px; } }
  :local(.component) .app-bar {
    position: fixed;
    top: 56px;
    left: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.29); }
    @media screen and (min-width: 960px) {
      :local(.component) .app-bar {
        left: 240px;
        top: 64px;
        width: calc(100% - 240px); } }
