@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';

:local(.component){
    padding:5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: -40px;
    background-color:#fff;
    span{
      color:$dark-color;
      @include fontsize(12);
      letter-spacing: 0.5px;
    }
    .logo-footer{
      height: 20px;
      padding:0 0 0 10px;
      filter: grayscale(100%);
      @include transition;
      .blue{
        fill:#1F3255;
      }
      .yellow{
        fill:#FFCD2B;
      }
    }
    .avatar{
      height: 30px;
      @include transition;
      transform: scale(0) translateX(-20px) rotate(45deg);
      transform-origin: 0 100%;
      margin-top: -20px;

    }
    &:hover{
      .avatar{
        transform: scale(1) translateX(0) rotate(0);
      }
      .logo-footer{
        filter: grayscale(0);
      }
    }
}