@import "variables";
@import "fonts";
@import "mixins";
@import "reset";
@import "materialize";

body{
  padding:60px 0 0 0;
}
.waves-effect.waves-dark .waves-ripple {
  background-color: $darkest-color;
}
.main-header{
  background-color:#1B1B1B;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
    padding:0 20px;
  }
}
.container{
  width: 100%;
  max-width: 100%;
}


.button{
  padding:12px 30px;
  border:0;
  border-radius:50px;
  background-color:#d8d8d8;
  display: inline-block;
  color:$primary-color;
  span{
    letter-spacing:0.5px;
    font-weight:$medium;
    // text-transform:uppercase;
    font-size:16px;
    color:#3A3A3A;
  }
  .icon{
      fill:#3a3a3a;
      margin-right:5px;
      height: 15px;
      // width: 15px;
  }
  &.affirmative{
    background-color:$affirmative-color;
    span{
      color:#fff;
    }
    .icon{
      fill:#fff;
    }
  }
  &.small{
    padding:10px 20px;
    span{
      font-size:12px;
    }
    .icon{
      height:10px;
      margin-right:5px;
    }
  }
  &.soft{
    background-color:#e6e6e6;
    border:1px solid #202020;
  }
}

.header-logo{
  height: 40px;
  display: block;
  img{max-height:100%;}
}
nav{
  color:inherit;
  background-color:inherit;
  height: auto;
  line-height: initial;
}
.side-nav{
  background-color: #2F2F2F;
  position: fixed;
  width: 250px;
  display: block;
  height:calc(100vh - 60px);
  top:60px;
  left:0;
  box-sizing:border-box;
  transform: initial;
  overflow: initial;
  ::-webkit-scrollbar-track {
    background-color: $dark-color;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
  }

  ::-webkit-scrollbar-thumb {
    background: $darkest-color;
  }
  .block{
    display:block;
    width: 100%;
    &.welcome{
      padding:20px;
      display: flex;
      align-items:center;
      background: #282828;
    }
    &.side-menu{
      height: calc(100vh - 250px);
      overflow-y: auto;
      ul{
        list-style:none;
        padding:0;
        margin:0;
      }
    }
  }
  .user-photo{
    display: block;
    width: 60px;
    height: 60px;
    border-radius:50%;
    overflow:hidden;
    img{
      width: 60px;
      height: 60px;
      object-fit:cover;
    }
  }//end user photo
  .user-data{
    color:#fff;
    padding-left:10px;
    .message{
      @include fontsize(10);
      letter-spacing:0.7px;
      text-transform:uppercase;
    }
    .name{
      color:#fff;
      @include fontsize(15);
      letter-spacing:1px;
      margin:2px;
    }
  }
  .inside-nav{
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding:20px;
    ul{
      list-style:none;
      margin:0;
      padding:0;
      display:flex;
      align-items:flex-end;
      justify-content:space-around;
      text-align:center;
    }
    .icon{
      fill:#fff;
      height: 30px;
      width:30px;
      margin-bottom: 10px;
      display: block;
    }
    a{
      color:#fff;
      @include fontsize(12);
    }
  }
}
.side-menu{
  .icon{
    fill:#fff;
    width: 14px;
    height: 15px;
    margin-right:10px;
  }
  .nav-button{
    color:#fff;
    letter-spacing:1px;
    padding:20px;
    display: flex;
    align-items:center;
    @include fontsize(14);
    @include transition;
    font-weight: $regular;
    border-bottom:$dark-color;
    background-color:$background-color;
    &:hover{
      background-color:$dark-color;
    }
  }
  .submenu .nav-button{
      padding:20px 20px 20px 40px;
      background-color:$darkest-color;
      &:hover{
        background-color:#0c0c0c;
      }
    }
}
.page-content{
  padding-left:250px;
  >.container{
    padding:20px 20px 40px 20px;
    min-height: calc(100vh - 60px);
    position:relative;
  }
  &+.page-footer{
    margin-left:250px;
  }
}
.cards-wrapper{
  padding:10px 0;
}
.tabs{
  padding:20px 0; 
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  .tab-button{
    padding:15px 30px;
    background-color:$medium-gray;
    color:$dark-color;
    margin-right:2px;
    @include transition;
    .icon{
      height: 15px;
      min-height: 15px;
      margin-right:10px;
      fill:$dark-color;
      @include transition;
    }
    &:hover,
    &.active{
      color:#fff;
      background-color:$dark-color;
      .icon{
        fill:#fff;
      }
    }
  }
  .tab-button:last-child{
    margin-right:0;
  }
}
.card{
  background:#cecece;
  width: 170px;
  height: 220px;
  position: relative;
  display: inline-block;
  background-image:url(https://udemy-images.udemy.com/course/750x422/959700_8bd2_9.jpg);
  background-size:cover;
  background-position:center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50), 0 5px 12px 0 rgba(0,0,0,0.29);
  border:0;
  margin-right:20px;
  .card-status{
    color:#fff;
    position: absolute;
    display: block;
    margin:8px;
    padding:4px;
    top:0;
    left:0;
    right:0;
    text-align:center;
    text-transform:uppercase;
    font-weight:$medium;
    letter-spacing:0.5px;
    @include fontsize(14);
    &.comming-soon{
      background-color:#ff0000;
    }
    &.free-course{
      background-color:#27921A;
    }
    &.blocked{}
  }
  .card-description{
    position: absolute;
    bottom:0;
    display: block;
    margin:auto;
    text-align:center;
    width: 100%;
    background:rgba(0,0,0,0.8);
    padding:10px 5px;
  }
  .card-title{
    color:#fff;
    @include fontsize(14);
    font-weight:$medium;
    letter-spacing:0.5px;
  }
  .card-category{
    font-size:10px;
    color:#fff;
  }
}

.search-bar{
  padding:20px 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
  .input-field{
    width: 100%;
    margin: 0;
    margin-right: 40px;
    input{
      margin:0;
      box-sizing:border-box;
    }
  }
  .button{
    min-width: 140px;
    text-align: center;
    margin:0 5px;
  }
  .button:last-child{
    margin:0;
  }
}


.page-header{
  padding:45px 20px;
  margin:-20px -20px 0 -20px;
  // border-bottom:1px solid #cecece;
  background-color: #fafafa;
  .container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0;
  }
  .page-title{
    @include fontsize(36);
    font-weight: $regular;
    margin:0;
    margin-bottom: 5px;
  }
  .page-subtitle{
     @include fontsize(16);
     letter-spacing: 0.5px;
     font-weight: $regular;
  }
}
.input-img{
  padding:20px 0;
  .container{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50), 0 5px 12px 0 rgba(0,0,0,0.29);
    display: block;
    background-color:#f1f1f1;
    position:relative;
    padding:20px;
    font-weight: $medium;
    .button{
      text-transform: uppercase;
    }
    .top-left{
      position: absolute;
      top: 20px;
      left: 20px;
      margin:auto;
    }
    .top-right{
      position: absolute;
      top: 20px;
      right: 20px;
      margin:auto;
    }
    .center{
      justify-content: center;
      align-items:center;
    }
  }
  &.large-banner .container{
    height: 250px;
    width: 100%;
  }
  &.course-logo{
    height: 170px;
    width: 170px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: column;
    background-color: $medium-gray;
    // border: 1px solid #202020;
    span{
      color:$dark-color;
      text-transform: uppercase;
      font-weight: $medium;
    }
    .icon{
      width: 50px;
      margin:20px;
      fill:$dark-color;
    }
  }
}
.page-course{
}
.form-section{
  padding-bottom: 20px;
  border-bottom:1px solid $light-gray;
  .form-block{
    padding: 0 0 30px 0;
    display: inline-block;
  }
  
}
.form-section-title{
  @include fontsize(24);
  font-weight: $medium;
  padding:0 0 20px 0;
  margin:30px 0 0 0;
}
.page-footer{
    // position:absolute;
    padding:5px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: -40px;
    background-color:#fff;
    span{
      color:$dark-color;
      @include fontsize(12);
      letter-spacing: 0.5px;
    }
    .logo-footer{
      height: 20px;
      padding:0 0 0 10px;
      filter: grayscale(100%);
      @include transition;

    }
    .avatar{
      height: 30px;
      @include transition;
      transform: scale(0) translateX(-20px) rotate(45deg);
      transform-origin: 0 100%;
      margin-top: -20px;

    }
    &:hover{
      .avatar{
        transform: scale(1) translateX(0) rotate(0);
      }
      .logo-footer{
        filter: grayscale(0);
      }
    }
}

.card-lessons{
  margin:20px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 5, 5, 0.46), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  background-color:#fff;
  position:relative;
  border-radius:4px;
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 5, 5, 0.46), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-lessons-title{
    @include fontsize(18);
    font-weight: $medium;
    margin:0;
  }
  .card-lessons-resume{
    color:$affirmative-color;
    font-weight: $medium;
    padding:5px 0 0 0;
    .icon{
      fill:$affirmative-color;
    }
  }
  .card-lessons-wrapper{
    padding:20px;
    padding-top: 0!important;
  }
  .card-lessons-header{
    padding:20px;
    position:relative;
    cursor:pointer;
      &:before{
        transition: all .2s ease-in-out;
        content: '';
        display: inline-block;
        background: $medium-gray;
        width: 2px;
        height: 16px;
        border-radius: 16px;
        transform: translateX(5px) rotate(40deg);
        position: absolute;
        top: 0 ;
        right: 40px; 
        bottom: 0 ;
        margin: auto;
        
      }

  &:after{
    transition: all .2s ease-in-out;
    content: '';
    display: inline-block;
    background: $medium-gray;
    width: 2px;
    height: 16px;
    border-radius: 16px;
    transform: translateX(-5px) rotate(-40deg);
    position: absolute;
    top: 0 ;
    right: 40px ;
    bottom: 0 ; 
    margin: auto;
  }
  &:hover{
    &:before,&:after{
      background:$affirmative-color;
    }
  }
  &.active{
    &:before{
      content: '';
      display: inline-block;
      width: 2px;
      height: 16px;
      border-radius: 16px;
      transform: translateX(-5px) rotate(40deg);

    }

    &:after{
      content: '';
      display: inline-block;
      width: 2px;
      height: 16px;
      border-radius: 16px;
      position: absolute;
      transform: translateX(5px) rotate(-40deg);
    }
  }
  }
  .card-lesson-block{
    padding:20px 120px 20px 20px;
    background-color:$light-gray;
    margin: 10px 0 0 0;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    position:relative;
    .button{
      text-transform: uppercase;
      font-weight: $medium;
      letter-spacing: 0.5px;
      position:absolute;
      top: 0;
      bottom:0;
      right: 20px;
      display: block;
      height: 35px;
      margin:auto;
    }
  }
  .card-lesson-thumb{
    width: 160px;
    height: 120px;
    display: block;
    background-color:#fff;
  }
  .card-lesson-description{
    line-height: 1.2rem;
  }
  .card-lesson-content{
    padding:0 20px;
    .lesson-title{
      @include fontsize(16);
      font-weight: $medium;
      margin:0 0 10px 0;
    }
  }


}
