:local(.component) {
    .user-menu{
      position:relative;
      padding:10px 20px;
      cursor: pointer;
      &:before{
        content: '';
        position: absolute;
        border-top:4px solid #fff;
        border-bottom:4px solid transparent;
        border-left:4px solid transparent;
        border-right:4px solid transparent;
        top:30px;
        right: 0;
        margin:auto;
        display: block;
      }
    }
    .user-photo{
        display: block;
        width: 40px;
        height: 40px;
        border-radius:50%;
        overflow:hidden;
        img{
          width: 40px;
          height: 40px;
          object-fit:cover;
        }
      }
}
