.mdi-icon {
  fill: currentColor;
}

[class*=' MuiButton']:not([class*=' MuiButton-fab']):not(.icon-right) .mdi-icon {
  margin-right: 10px;
}

.hide {
  display: none;
}

[class*='MuiTable-'] tr td,
[class*='MuiTable-'] tr th {
  padding: 3px 15px 3px 15px !important;
}

[class*='MuiTable-'] tr td:last-child,
[class*='MuiTable-'] tr th:last-child {
  text-align: right !important;
  width: 50px;
}

[class*='MuiTable'] tr td:last-child button,
[class*='MuiTable'] tr th:last-child button {
  margin-right: -10px;
}

[class*='MuiDialogContent'],
[class*='MuiDialog'] {
  overflow-y: visible !important;
  max-height: none !important;
}

/* [class*='MuiModal-'] {
  overflow: auto !important;
} */