:local(.component) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #cecece;
  margin-top: -60px; }
  :local(.component) .default-logo {
    display: block;
    height: 60px;
    margin: 150px auto auto; }
  :local(.component) .nutror-logo svg {
    height: 40px; }
  :local(.component) .login-form {
    width: 400px;
    height: 100vh;
    padding: 30px;
    background: #fff;
    position: relative; }
    :local(.component) .login-form form {
      width: 100%;
      height: calc(100vh - 310px);
      display: flex;
      align-items: center;
      flex-flow: column; }
    :local(.component) .login-form a:not(.button) {
      float: right;
      font-size: 0.75rem;
      color: #172b4d; }
  :local(.component) form .card-panel {
    margin-bottom: 60px; }
  :local(.component) .card-panel {
    width: 100%; }
    :local(.component) .card-panel .button {
      background-color: #78cc5c; }
  :local(.component) .input-box {
    margin-bottom: 10px; }
  :local(.component) .panel-footer {
    text-align: center;
    bottom: 50px; }
    :local(.component) .panel-footer p {
      font-weight: 300; }
  :local(.component) .login-background {
    width: calc(100% - 400px);
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden; }
    :local(.component) .login-background img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: relative;
      z-index: 1; }
  :local(.component) footer {
    margin-top: 0; }
