@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';
:local(.component) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #cecece;
  margin-top: -60px;
  .default-logo {
    display: block;
    height: 60px;
    margin: 150px auto auto;
  }
  .nutror-logo svg {
    height: 40px;
  }
  $form-size: 400px;
  .login-form {
    width: $form-size;
    height: 100vh;
    padding: 30px;
    background: #fff;
    position: relative;
    form {
      width: 100%;
      height: calc(100vh - 310px);
      display: flex;
      align-items: center;
      flex-flow: column;
    }
    a:not(.button) {
      float: right;
      @include fontsize(12);
      color: $text-color;
    }
  }
  form .card-panel {
    margin-bottom: 60px;
  }
  .card-panel {
    width: 100%;
    .button {
      background-color: $primary-brand;
    }
  }
  .input-box {
    margin-bottom: 10px;
  }
  .panel-footer {
    text-align: center;
    bottom: 50px;
    p {
      font-weight: $light;
    }
  }
  .login-background {
    width: calc(100% - #{$form-size});
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
  }
  footer {
    margin-top: 0;
  }
}