.course-card-root {
  width: 100%;
  position: relative;
  display: inline-block;
  border: 0;
  overflow: hidden; }
  .course-card-root:before {
    content: '';
    display: block;
    padding-top: 100%;
    margin-bottom: 95px; }
  .course-card-root .card-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 95px;
    background-color: #f7f7f7; }
    .course-card-root .card-image img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .course-card-root .card-status {
    font-size: 0.875rem;
    display: block;
    margin: 8px;
    padding: 4px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 1; }
    .course-card-root .card-status.comming-soon {
      background-color: rgba(255, 193, 7, 0.9); }
    .course-card-root .card-status.free-course {
      background-color: rgba(139, 195, 74, 0.9); }
    .course-card-root .card-status.expired {
      background-color: rgba(244, 67, 54, 0.9); }
    .course-card-root .card-status.offer {
      background-color: rgba(63, 81, 181, 0.9); }
      .course-card-root .card-status.offer + .card-image img {
        transform: scale(1.05);
        filter: blur(5px) grayscale(100%); }
    .course-card-root .card-status.hidden {
      display: none; }
  .course-card-root .card-description {
    position: absolute;
    bottom: 0;
    display: block;
    margin: auto;
    width: 100%;
    background: #140029;
    padding: 15px;
    height: 95px; }
    .course-card-root .card-description::after {
      width: 100%;
      background-color: #595959; }
  .course-card-root .card-title {
    font-size: 1.25rem;
    color: #fff;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden; }
  .course-card-root .card-category {
    font-size: 0.6875rem;
    color: #fff;
    letter-spacing: .7px;
    text-transform: capitalize; }

@media (min-width: 960px) {
  .course-card-root .card-title {
    font-size: 1rem;
    line-height: 20px;
    min-height: 40px;
    max-height: 40px; }
  .course-card-root .card-category {
    font-size: 0.6875rem; } }
