@import 'src/assets/css/_variables.scss';
@import 'src/assets/css/_mixins.scss';
.course-card-root {
  width: 100%;
  position: relative;
  display: inline-block;
  border: 0;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
    margin-bottom: 95px;
  }
  .card-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 95px;
    background-color: #f7f7f7;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .card-status {
    @include fontsize(14);
    display: block;
    margin: 8px;
    padding: 4px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: $medium;
    letter-spacing: 0.5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    z-index: 1;
    &.comming-soon {
      background-color: transparentize($color-alert, .1);
    }
    &.free-course {
      background-color: transparentize($color-success, .1);
    }
    &.expired {
      background-color: transparentize($color-error, .1);
    }
    &.offer {
      background-color: transparentize($color-info, .1);
      +.card-image {
        img {
          transform: scale(1.05);
          filter: blur(5px) grayscale(100%);
        }
      }
    }
    &.hidden {
      display: none;
    }
  }
  .card-description {
    position: absolute;
    bottom: 0;
    display: block;
    margin: auto;
    width: 100%;
    background: #140029;
    padding: 15px;
    height: 95px; // &::before,
    // &::after {
    //   content: '';
    //   height: 3px;
    //   left: 0;
    //   top: -3px;
    //   position: absolute;
    //} &::before {
    //   width: 60px;
    //   background-color: #02E863;
    //   z-index: 1;
    // }
    &::after {
      width: 100%;
      background-color: #595959;
    }
  }
  .card-title {
    $card-title-line-height: 20px;
    @include fontsize(20);
    color: #fff;
    line-height: $card-title-line-height;
    letter-spacing: 1px;
    margin-bottom: 15px;
    min-height: $card-title-line-height * 2;
    max-height: $card-title-line-height * 2;
    overflow: hidden;
  }
  .card-category {
    @include fontsize(11);
    color: #fff;
    letter-spacing: .7px;
    text-transform: capitalize;
  }
}

// **********
// *** MEDIUM
// **********
@media (min-width: $md) {
  .course-card-root {
    .card-title {
      $card-title-line-height: 20px;
      @include fontsize(16);
      line-height: $card-title-line-height;
      min-height: $card-title-line-height * 2;
      max-height: $card-title-line-height * 2;
    }
    .card-category {
      @include fontsize(11);
    }
  }
}