.root {
  padding: 1rem; }

.text-center {
  text-align: center; }

.padding {
  padding: 1rem; }

.mdi-icon {
  fill: currentColor; }

[class*=' MuiButton'] .mdi-icon {
  margin-right: 10px; }

.hide {
  display: none; }
