:local(.component) {
  .loading {
    .block {
      height: 64px;
      margin: 20px 0 20px 0;
      padding: 20px 15px 20px 15px;

      .line {
        height: 10px;
        background-color: rgba(165, 165, 165, 0.1);
        margin-bottom: 5px;

        &:nth-child(1) {
          width: 30%;
        }

        &:nth-child(2) {
          width: 70%;
        }
      }
    }
  }
}