:local(.component) .loading .block {
  height: 64px;
  margin: 20px 0 20px 0;
  padding: 20px 15px 20px 15px; }
  :local(.component) .loading .block .line {
    height: 10px;
    background-color: rgba(165, 165, 165, 0.1);
    margin-bottom: 5px; }
    :local(.component) .loading .block .line:nth-child(1) {
      width: 70%; }
    :local(.component) .loading .block .line:nth-child(2) {
      width: 30%; }
