:local(.component) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px; }
  :local(.component) ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center; }
  :local(.component) .icon {
    fill: #fff;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
    display: block; }
  :local(.component) a {
    color: #fff;
    font-size: 0.75rem; }
